@model UniversityManagementApp.ViewModels.CoursesByTeacherViewModel //IEnumerable<UniversityManagementApp.Models.Course>

@{
    ViewData["Title"] = "Courses by teacher";
}

<h1>Courses</h1>
<form asp-asp-controller="Courses" asp-action="Index1" method="get">
    <p>
        Teacher:
        <select asp-for="SelectTeacher" asp-items="Model.Teachers">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Title)
            </th>
            <!--
            <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Credits)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Semester)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Programme)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().EducationLevel)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().FirstTeacher)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().SecondTeacher)
            </th>
            <th></th>
            -->
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Courses)
    {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Title)
                </td>
                <!--
                <td>
                @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)
                </td>
                -->

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                         <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                         <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
