@model UniversityManagementApp.ViewModels.TeacherDegreeRankViewModel //IEnumerable<UniversityManagementApp.Models.Teacher>

@{
    ViewData["Title"] = "All Teachers";
}

<h1>Teachers</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
    <a asp-action="Create">Create New</a>
    </p>
}
<form asp-asp-controller="Teachers" asp-action="Index" method="get">
    <p>
        Degree:
        <select asp-for="SearchDegree" asp-items="Model.Degrees">
            <option value="">All</option>
        </select>
        
        Academic Rank:
        <select asp-for="SearchAcademicRank" asp-items="Model.Ranks">
            <option value="">All</option>
        </select>
       
        Full Name: <input type="text" asp-for="SearchFullName"/>
        <input type="submit" value="Filter" />
    </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.FirstOrDefault().LastName)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Teachers.FirstOrDefault().Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.FirstOrDefault().AcademicRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.FirstOrDefault().OfficeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.FirstOrDefault().HireDate)
            </th>
            <th></th>
            -->
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teachers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            -->
            <td>
                <img src="~/images/@item.ProfilePicture"
                    class="square"
                    height="60" width="60"
                    asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
